{% extends 'base.html' %}

{% block center_body %}

    <div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>All commodity category</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="/list1_1_1" class="fruit">Fruit</a></li>
					<li><a href="/list2_1_1" class="seafood">Seafood</a></li>
					<li><a href="#" class="meet">Meat</a></li>
					<li><a href="#" class="egg">Egg</a></li>
					<li><a href="#" class="vegetables">Vegetable</a></li>
					<li><a href="#" class="ice">Frozen food</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="{% url "df_goods:index" %}">Home</a></li>
				<li class="interval">|</li>
				<li><a href="">Mobile app</a></li>
				<li class="interval">|</li>
				<li><a href="">Soon</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		Category > {{ title }}
		{% if id|default:' ' != ' ' %}
        > Detail
		{% endif %}
	</div>

{% block center_content %}
{% endblock center_content %}

{% endblock center_body %}